*{
margin:0;
padding:0;
box-sizing:border-box;

}
.full-page{
    height:100%;
    width:100%;
  
   background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('C:/Users/User/yashu/i1.png');
    background-position: center;
    background-size: cover;
    position: absolute;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
	color:#F3C693;
	padding-left: 30px;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #F3C693;
	outline:none;
	background: transparent;
	color:#F3C693;
	
}
.submit-btn
{
	width: 85%;
color: black;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: 20px;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}

input
{
	color:white;
	font-size: 15px;
}
.heading-box
{
	width:220px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.heading
{
	font-size: 30px;
	width:215px;
	
	padding:0px 10px;
	color:#F3C693;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
.login{
	color:indianred;
}

.al{
	

	margin: 40px 10px 34px 0;
	color:#777;
	font-size:20px;
	
}
